<!DOCTYPE html>
<html>
<head>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- https://testmysite.io -->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no" >
<link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
<link rel="shortcut icon" type="image/png" href="favicon.png">
<link rel="apple-touch-icon" href="favicon.png">

<meta name="msapplication-TileColor" content="#57005d">
<meta name="msapplication-TileImage" content="favicon.png">

<!-- Enable responsiveness on mobile devices-->
 {{/* .Title */}} <!--&middot;--> 
<title>{{ .Site.Title }}</title>
<meta name=apple-mobile-web-app-title content="{{ .Site.Title }}">
<meta name="description" content="{{ .Description | default .Site.Params.SiteDescription }}">


<!--Styles'n'Scripts -->
<link rel="stylesheet" href="js/flickity.min.css">
<style>
/* external css: flickity.css */
html{-ms-touch-action:manipulation;touch-action:manipulation;}
html, body{height:100%;width:100%;margin:0;padding:0;overflow:hidden;-webkit-backface-visibility:hidden;}
.carousel-cell{/*width: 100%;*/width:100vw;/*height: 100%;*/height:calc(100% - 1px);/*overflow-y:scroll;-webkit-overflow-scrolling:touch;padding-top:4.4rem;*/}

.flickity-page-dots {
	bottom: 0;
	z-index: 999;
}

.button.is-selected {
  background: #57005d; /* Tyrian (Royal Purple) */
  opacity: 1;
}

article p {
	text-align: left;
}

article h3, article h4, article h5, article h6 {
	text-align: left;
}

</style>

{{ partial "style.html" . }}
</head>


<body class="w-100 h-100 ma0 pa0 overflow-hidden backface-hidden no-clutter bg-magnolia baskerville">
	{{ partial "svg.html" . }}
	
	{{/* partial "header.html" . */}}
	<header class="pa0 ma0 h2 w-100 z-9999 antialias disable-scrolling absolute fixed lh-title white b bg-plum">
		<h1 class="f5 ma0 fl tc w-100 w-50-l bg-plum pt2 pb2">{{ .Site.Title }}</h1>
		<h2 class="f5 ma0 fl tc w-100 w-50-l bg-plum pt2 pb2">{{ .Description | default .Site.Params.SiteDescription }}</h2>		
		<!--p class="white tc"></p-->
	</header>
	
	<!-- The big featured header on the homepage, with the site logo and description -->
	<!--<header id="site-head" {{ if .Site.Params.cover }}style="background-image: url({{ .Site.Params.cover }})"{{ end }}>
	    <div class="vertical">
	        <div id="site-head-content" class="inner">
	
	            {{ if .Site.Params.logo }} <a id="blog-logo" href="{{ .Site.BaseURL }}"><img src="{{ .Site.Params.logo }}" alt="Blog Logo" /></a>{{ end }}
	            <h1 class="blog-title">{{ .Site.Title}}</h1>
	            {{ if .Site.Params.description }}<h2 class="blog-description">{{ .Site.Params.description }}</h2> {{ else  }}
	            <h2 class="blog-description">Power puff girls</h2>
	            {{ end }}
	
	            <a class='btn first'>Take a tour</a>
	            <a class='btn last'>Cut to the chase</a><br>
	            <i id='header-arrow' class="fa fa-angle-down"></i>
	        </div>
	    </div>
	
	</header>-->
	
	<div id=carousel class="carousel fixed h-100 w-100 top-0 left-0 tyrian">
		{{ $current := .Params.Name }}
		{{ range .Pages.ByWeight }}
		
		  {{/* .Render */}}
		  
		  <div class="carousel-cell scrollable {{/* if eq .Params.Name $current.Params.Name }} is-selected {{ end */}}" id="{{ .Params.name | lower | urlize }}">
		  	<div class="h-100 overflow-y-scroll touch-scrolling">
		  		<article class="w-100 mt5 mb7 highlight pr3 pl3 tc">
		  		
		  			{{/*<!--header class="post-header">
		  			<a id="blog-logo" href="{{ .Site.BaseURL}}">
		  			  {{ if .Site.Params.logo }}
		  			    <a id="blog-logo" href="{{ .Site.BaseURL}}"><img src="{{ .Site.Params.logo }}" alt="Blog Logo" /></a>
		  			  {{else}}
		  			    {{ .Site.Title }}
		  			  {{ end }}
		  			</a>
		  			</header-->*/}}
		  			<!--h1 class="post-title">{{ .Title }}</h1-->
		  			
		  			
		  			<section class="measure mr-auto ml-auto f3 lh-copy pt3">
		  				{{ .Content }}
		  				<span class="h7 disable-scrolling"></span>
		  			</section>
		  			
		  			<!--footer class="post-footer">
		  			
		  			{{ if .Site.Author }}
		  			<section class="author">
		  			  <h4>{{ .Site.Author.name}}</h4>
		  			  <p>{{ .Site.Author.bio }}</p>
		  			</section>
		  			{{ end }}
		  			
		  			</footer-->
		  		</article>
		  	</div>
		  </div>
		  
		  
		{{ end }}
	</div>
	
	<!-- https://gohugo.io/templates/pagination/ -->	
	<nav class="system button-row pa0 bn ma0 h3 h3-ns h3-m h3-l w-100 bottom-0 z-999 no-clutter antialias bg-plum disable-scrolling absolute fixed">
	  <div class="button-group button-group--cells ">
	    {{ range .Pages.ByWeight }}
	    {{ $current := .Params.Name | lower | urlize }}
	    <button class="fl dib w-third h3 h3-ns h3-m h3-l tc bn pointer glow overflow-x-hidden o-60 button bg-plum ma-auto " data-weight="{{ $current }}"><!--alert(getAttribute('data-weight')); data-weight={{/**/}} -->
	    	<a href="#{{ .Params.Name | lower | urlize }}" class="link ttu white db w-100 pa2 pa2-ns pa2-m pa3-l h3 h3-ns h3-m h3-l ma-auto button-reset no-focus-ring">
		    	<svg class="db dib-l ma-auto v-mid" width="32" height="32" viewBox="0 0 128 128" alt="{{ .Params.Name | lower | urlize }}"><!-- ml-auto mr-auto dib mt0 db-m mb2-m mt3-m dib-l mb0-l mt0-l -->
		    	  <use xlink:href="#{{ .Params.Name | lower | urlize }}"></use>
		    	</svg>
		    	<span>{{ .Params.Name }}</span><!-- class="debug relative underline link top-4" -->
	    	</a>
	    </button>
	    {{ end }}
	  </div>
	</nav>

	{{/* partial "footer.html" . */}}
	{{ partial "script.html" . }}
</body>
</html>